body {
	text-align: center;
	background-image: url("concrete-road.jpg");
	background-position: center;
	background-size: cover;
}

h1 {
	color: red;
	font-size: 40px;
	font-family: sans-serif;
}

#myCanvas {
	border-width: 10px;
	border-style: ridge;
	background-color: white;
}